body{
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    text-align: center;
    /* background-color: rgb(160, 160, 160); */
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,121,116,1) 27%, rgba(0,212,255,1) 100%);
    padding: 2rem 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


header h1 {
    font-size: 1em;
}

header button.btn.btn-primary {
    background-color: #052F43;
    position: absolute;
    top: 0;
    left: 0;
    border: 0 solid black;
}

header a {
    color: rgb(67, 67, 193);
}

section form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section form div {
    margin: .5rem;
}

section form div input {
    padding: 1rem 5rem;
    text-align: center;
    border: .1px solid rgba(160, 160, 160, 0.247);
    border-radius: 10px;
}



footer {
    background-color: rgb(160, 160, 160);
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .copyright {
    margin: auto 0;
}

footer .contact_footer{
    margin: 1rem;
}

