.ssh-detail {
    display: flex;
    justify-content: center;
}

.ssh-detail h3,  .ssh-detail p{
    padding-top: 1rem;
    text-align: center;
}

.ssh-detail form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.ssh-detail form h2 {
    color: #074E58;
}

.ssh-detail form input {
    margin-top: .5rem;
    border-radius: 5px;
    border: .5px solid #097370;
}


