{% extends 'accounts/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock style %}
    
    

{% block content %}
    
<div class="ssh-detail">
            {% if pk %}
            <form action="{% url 'save' id.pk%}" method="post" class="change-form">
                {% csrf_token %}
                <h2>{{ssh.ssh_name}}</h2>
                <input type="text" name="password" value="{{ssh.password}}" required>
                <input type="date" name="exp" value="{{ssh.pub_date|date:'Y-m-d'}}" required>
                <input type="submit" value="Change">
            </form>
            {% else %}
            <div>
                <p>{{success}}</p>
                <h3 style="color: rgb(252, 107, 107);">Select ssh.</h3>
            </div>
            {% endif %}
</div>
{% endblock content %}
    